body {
    background-color: #ccc;
    color: black;
    font-family: sans-serif;
    max-width: 600px;
    text-overflow: wrap;
}

h3 {
    line-height: 0;
}

hr {
    border: 1px solid #aaa;
}

.aul {
    text-align: right;
    font-size: 0.8rem;
}

a {
    color: #000080;
    text-decoration: none;
}

#reader {
    text-align: left;
    margin: 20px;
    vertical-align: top;
}

footer {
    margin: 2em;
    font-size: -2em;
    text-align: center;
}

.dropzone {
    display: flex;
    align-items: center;
    border: 5px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.expanded {
    height: 250px;
    visibility: visible;
    transition: height 1s 0s, visibility 1s 0s;
}

.draft {
    font-style: italic;
}

.mini {
    height: 0;
    visibility: hidden;
    transition: height 1s 0s, visibility 1s 0s;
}

.backup-owner {
    display: inline-block;
}

pre {
    font-family: sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
}

#error {
    margin-top: 2em;
    font-size: 1.5rem;
}

.active {
    border-color: #0a4;
    background-color: #0a4;
}

.notaccepted {
    border-color: #a04;
    background-color: #a04;
}

#instruction {
    pointer-events: none;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
    color: #555;
}

h2 {
    margin-top: 0;
    color: #888;
}

small {
    color: #555;
}